/* Navbar */
/* if screen size equal or more than 992px Then this Css will apply */
@media(min-width:992px){
    .navbar{
        min-height: 100vh;
        width: var(--sidebar-width);
        background: linear-gradient(rgba(3, 63, 71, 0.4),rgba(3, 63, 71, 0.945)),url(./assets/images/myr4-2.jpg);
        background-size: cover;
        background-position: center;

    }
    /* End Navbar */

    /* Content wrapper */
#content-wrapper{
    padding-left: var(--sidebar-width);
}
/* end Content wrapper */









}