@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@media  screen and (max-width:476px){
body{width: 100vw;}
.top-container{width: 100vw;}
.container{
    flex-direction: column;
}
h1{font-size: 2.5rem;}
h2{font-size: 2rem;}
p{
    margin: 5vw;
   font-size: 1.2rem;
    text-align: start;
}


.navlinks ul li {
    font-size: 1.5rem;
line-height: 50px;}
.servicesection{
    height: 60vh;
}
.servicesection1{
    flex-direction: column-reverse;
}

.leftdiv{
width: 100%;
height: 100%;

}
.leftdiv h2{
    font-size: 1rem;
}
.leftdiv img{
    width: 100%;
    height: 100%;
}
.rightdiv{
    width: 100%;
    height: 100%;
}
.rightdiv h2{
    font-size: 1rem;
}
.rightdiv img{
    width: 100%;
    height: 100%;
}
 
.contact-textbox{
    margin: 20px;
    
}
.contact-iconbox{
    margin: 20px;
    padding: 10px;
    
}
}