@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --color-body:#b6cbce;
    --color-heading:#eef3db;
    --color-base:#033f47;
    --color-base2:#022a30;
    --color-brand:#e0f780;
    --color-brand2:#deff58;
    --sidebar-width:240px;
    --font-base:"Bai Jamjuree";
}
body{
    background-color: var(--color-base2);
    color: var(--color-body);
    font: var(--font-base), sans-serif;
}
h1,h2,h3,h4,h5,h6{
    color: var(--color-heading);
    font-weight: 700;
}
a{
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}
.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgb(255, 255, 255,0.2);
}
a:hover{
    color: var(--color-brand);
}
img{
    width: 100%;
}
.navbar{
    background-color: var(--color-base);
}
.navbar .nav-link{
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}
.navbar .nav-link:hover{
    color: var(--color-brand);
}
.text-brand{
    color: var(--color-brand);
}
.btn{
    padding: 12px 24px;
    font-weight: 700;
}
.btn-brand{
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}
.btn-brand:hover,
.btn-brand:focus{
    background-color: var(--color-brand2);
    border-color: var(--color-brand2);
    color: var(--color-base);
}
.custom-link{
    font-weight: 700;
    position: relative;
}
.custom-link::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}
.custom-link:hover::after{
    width: 100%;
}